/* ********************************* TESTIMONIALS */
main>div{
  margin: 6rem 0 3rem;
}

.testimonial {
    font-size: 1.2rem;
    /* margin: 3rem 0; */
  }

  #customer-1{
    text-align: left;
  }

  #customer-2{
    text-align: right;
  }

  .testimonial__image-container{
    width: 69%;
    min-width: 250px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
  }

  #customer-2 .testimonial__image-container{
    margin-left: auto;
  }

  .testimonial__image{
    width: 100%;
    vertical-align: top;    
  }

  .testimonial__info {
    padding: .875rem;
    vertical-align: middle;
  }

  .testimonial__name {
    /* margin: 3px; */
    margin: 0.1875rem;
    color: #ff5454;
    font-size: 2rem;
  }
  
  .testimonial__subtitle {
    margin: 0;
    /* font-size: 18px; */
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
  .testimonial__text {
    /* margin: 3px; */
    margin: 0.1875rem;
  }
  
/* MEDIA QUERY */
@media (min-width: 40rem){
  .testimonial{
    margin: 3rem auto;
    max-width: 1500px;
  }

  .testimonial__image-container{
    display: inline-block;
    width: 69%;
    /* min-width: 320px; */
    max-width: 1024px;
    vertical-align: middle;
    /* box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
  }

  .testimonial__info {
    /* padding: 14px; */
    padding: .875rem;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }
}
  