/* ******************************* IMPORTS */
/* FONTS IMPORT */
/* ANTON, MONTSERRAT, ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');
/* FONT FAMILY LEGEND */
/*  font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif; */
    
/* ********************************** UNIVERSAL RULES */
/* CSS VARIABLES */
:root{
  --highlight-green: #2ddf5c;
  --dark-green: #0e4f1f;
  --highlight-light-red: #ff5454;
  --cta-button-pink: #ff1b68;
}

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}
  
  /* *********************************** SPECIFIC RULES */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 3.5rem;
}

@supports (display: grid){
  body {
    padding-top: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
  }
}

/* ********************************** BACKDROP */
.backdrop{
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 300ms linear;
}

/* ******************************************* MODAL SECTION*/
.modal{
  text-align: center;
  position: fixed;
  min-width: 98%;
  top: 20%;
  left: 1%;
  right: 1%;
  display: none;
  opacity: 0;
  transform-origin: center;
  transform: translateY(-100%);  
  transition: opacity 550ms ease-out, transform 550ms ease-out;
  z-index: 200;
  /* width: 40%; */
  background: white;
  padding: 1.5rem;
  border: 1px solid#ccc;
  /* margin: .5rem; */
  /* margin: 0 auto; */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title{
  text-align: center;
  /* margin: 2rem; */
}

.modal__actions{
  /* margin-top: 3.5rem; */
  text-align: center;
}

.modal__action{
  border: 1px solid var(--dark-green);
  background: var(--dark-green);
  text-decoration: none;
  color: #fff;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active{
  background: var(--highlight-green);
  border-color: var(--highlight-green);
}

.modal__action--negative{
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active{
  background: var(--highlight-light-red);
  border-color: var(--highlight-light-red);
}

@media (min-width: 40rem){
  .modal{
    min-width: 40%;
    /* max-width: 10rem; */
    left: 30%;
    right: 30%;
  }
}

/* ********************************** HEADER */
/* MAIN HEADER BRAND */
.main-header {
  background-color: var(--highlight-green);
  width: 100%;
  position: fixed;
  padding: 0 1rem;
  z-index: 5;
  top: 0;
  grid-area: header;
}

/* MOBILE NAVIGATION */
.toggle-button{
  width: 2.75rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus{
  outline: none;
}

.toggle-button__bar{
  width: 100%;
  height: 0.21rem;
  background: #000;
  display: block;
  margin: 0.6rem 0;
}

/* UHOST ICON */
.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
}

.main-header__brand>img{
  height: 2.5rem;
  vertical-align: middle;
}

/* MAIN HEADER NAVIGATION */
.main-nav {
  display: none;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
  padding: 0.1875rem;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 5px solid #fff;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #fff;
  background-color: var(--cta-button-pink);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.moblie-nav__item--cta a:active {
  color: var(--cta-button-pink);
  background-color: #fff;
  border: none;
}

/* MEDIA QUERY */
@media (min-width: 40rem){
  .main-header{
    padding: 0.5rem 0 0.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  .main-nav__item {
    margin: 0 1rem;
  }

  /* ANIMATION */
  .main-nav__item--cta{
    animation: bounce 650ms ease-in 2.5s infinite alternate backwards;
  }

  .main-nav__item--cta a,
  .mobile-nav__item--cta a {
  padding: 0.5rem 1rem;
}

  .toggle-button{
    display: none;
  }
}

/* MOBILE NAVIGATION SECTION */
.mobile-nav{
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 70vw;
  height: 100vh;
  transform: translateX(-10rem);
  transition: opacity 550ms ease-out, transform 550ms ease-out;
}

.mobile-nav__items{
  width: 100%;
  height: 100vh;
  list-style: none;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 0;
}

.mobile-nav__item{
  margin: 1.5rem 0;
}

.mobile-nav__item a{
  font-size: 1.5rem;
}

/* ***************************************** MAIN SECTION */
main{
  /* min-height: calc(100vh - 3rem - 8.1875rem); */
  grid-area: main;
}

/* PLAN BUTTONS */
.button{
  background-color: var(--dark-green);
  color: #fff;
  font: inherit;
  border: 1.5px solid var(--dark-green);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active{
  background-color: #fff;
  color: var(--dark-green);
}

.button:focus{
  outline: 3px solid var(--highlight-light-red);
}

/* ***************************************** FOOTER SECTION */
.main-footer{
  background-color: #000;
  /* padding: 2rem; */
  padding: 1.5rem;
  grid-area: footer;
}


/* .main-footer__links */
.main-footer__links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-footer__link:first-child{
  margin: 1rem 0 0.5rem 0;
}

.main-footer__link:last-child{
  margin: 0.5rem 0 1rem 0;
}

.main-footer li>a{
  color: #fff;
  text-decoration: none;
}

.main-footer li>a:hover,
.main-footer li>a:active{
  color: #ccc;
}

/* MEDIA QUERY */
@media (min-width: 40rem){
  .main-footer__links{
    flex-direction: row;
    justify-content: center;
  }

  .main-footer__link:first-child,
  .main-footer__link:last-child{
    margin: 0.5rem;
  }

  .main-footer li>a{
    margin: 0 1rem;
  }
}

/* FOR JAVASCRIPT USAGE*/
.open{
  display: block !important;
  opacity: 1 !important;
  transform: translateX(0) translateY(0) !important;
}

/* ANIMATIONS */
@keyframes bounce{
  from{
    transform: translateY(-0.1rem);
  }

  50%{
    transform: translateY(0rem);
  }

  to{
    transform: translateY(0.57rem);
  }
}