/* **************************************** MAIN SECTION */
main{
    padding-top: 1rem;
    margin-bottom: 2rem;
}

/* FORM HEADING */
.signup-title{
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
    padding: 0 1rem;
}

/* FORM & FORM ELEMENTS*/
.signup-form{
    padding: 1rem;
    outline: none;
    display: grid;
    grid-auto-rows: minmax(2rem, auto);
    align-items: flex-end;
    row-gap: 0.5rem;
}

.signup-form label{
    font-weight: bold;
}

.signup-form label, 
.signup-form input, 
.signup-form select,
.signup-form select>option{
    display: block;
    border-radius: .25rem;
    width: 100%;
}

.signup-form select>option:hover,
.signup-form select>option:focus{
    background-color: #2ddf5c;
}

.signup-form select,
.signup-form select>option,
.signup-form input:not([type="checkbox"]){
    border: 2px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form select:hover,
.signup-form input:hover,
.signup-form input:focus{
    border: 2px solid #2ddf5c;
}

.signup-form select:focus,
.signup-form input:focus{
    outline: none;
    background-color: #e8f0ea;
}

.signup-form__checkbox{
    padding-top: 0.75rem;
}

/* .signup-form input[type="checkbox"], */
.signup-form input[id *= "terms"],
.signup-form input[id *= "terms"] + label{
    display: inline-block;
    width: auto;
}

.signup-form input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 0;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
}

.signup-form input[type="checkbox"]:hover{
    border: 2px solid #2ddf5c;
    background-color: #e8f0ea;
}

.signup-form input[type="checkbox"]:checked{
    background-color: #2ddf5c;
    border: 2px solid #0e4f1f;
}

.signup-form input[type="checkbox"]+label{
    display: inline-block;
    vertical-align: super;
}

.signup-form button[type="submit"]{
    display: block;
    margin-top: 0.5rem;
}

.signup-form button[disabled]{
    cursor: not-allowed;
}

@media (min-width: 40rem){
    main{
        padding-top: 1.5rem;
    }

    .signup-form{
        margin: auto auto 2rem;
        width: 30rem;
        grid-template-columns: 10rem auto;
        grid-auto-rows: minmax(2rem, auto);
        column-gap: 0.5rem;
        row-gap: 2rem;
        align-items: center;
    }

    .signup-form__checkbox{
        padding-top: 0;
        grid-column: span 2;
    }

    .signup-form button[type="submit"]{
        margin: 0;
        grid-column: 2 / 3;
        grid-row: 7 / 8;
        width: fit-content;
        padding: 0.7rem 2rem;
    }
}